:root {
    --doc-width: 800px;
}

body {
    margin: 0px;
    padding: 20px;
    /*overflow: hidden;*/
}

input {
    width: 200px;
}

#container {
    margin: auto;
    width: var(--doc-width);
    padding: 40px;

    box-shadow: 0px 0px 10px 3px black;
}

#canvas {
    margin-top: 40px;
    width: var(--doc-width);
}

.content-description {
    margin: auto;
}

#container h1 {
    text-align: center;
}