<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/katex.min.css">
  <script src="{{ site.baseurl }}/assets/js/katex.min.js"></script>
</head>
<body>
  {{ content }}

  <script>
    document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
      el.outerHTML = katex.renderToString(el.textContent, { displayMode: false });
    });

    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
      el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
    });
  </script>
</body>
